.card-container {
  font-size: 14px;
  margin: 10px auto;
}
.img-upload {
  width: 28px;
  height: 28px;
  margin: auto 12px;
  cursor: pointer;
}
.modal-header {
  padding: 10px 10px;
}
.upload-text {
  margin: 0px;
}

.close-firm, .send-firm, .upload-firm, .refresh-firm {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-right: 10px !important;
}
.cust-btn {
  color: white;
  background-color: #2c55ba;
  border: none;
  padding: 5px 12px;
  cursor: pointer;
  margin-right: 20px !important;
}
.modal-footer > :only-child {
  margin-right: 20px
}